body{
  padding: 0px;
  margin: 0px;
}
h1 , h4 {
  font-family: 'Roboto', ;
}
.top-navbar{
  background-color: #fff;
}
.bg-blue{
  background-color: #0f4075!important;
  color: #000!important;
}

.top-head{
  padding-top: 10px;
}

.top-head p{
  margin-bottom: 5px;
}


.nav-link{
  font-size: 18px;
}


.fast-img{
  padding:30px;
}

.middle-page  .menu-btn{
  width: 100%;
  padding: 15px 12px;
  background-color: #b5dbff!important;
  border-color: #b5dbff!important;
  color: #000;
  font-weight: bold;
}

.navbar-brand img{
  width: 150px;
  height: auto;
}

.top-img{
  width: 150px;
  height: auto;
}

.product-section{
  padding-top: 50px;
  padding-bottom: 30px;
}

.product-section h3{
  padding-bottom: 20px;
}

.product-section .text-head{
  background-color: #f4f4f4;
  color: #000;
}


.product-cart .card-img-top{
  width: 160px;
  height: 180px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.product-cart .card-title{
font-size: 14px;
text-align: center;
}

.card-text{
  margin-bottom: 3px!important;
}

.f-14{
  font-size: 14px!important;
}

.f-12{
  font-size: 12px!important;
}

.line-throw{
  text-decoration: line-through;
}

a{
  text-decoration: none!important;
}

.discount{
  box-shadow: 1px 1px 2px 2px #ccc;
  margin: 8px;
}

.discount p{
text-align: right;
padding-right: 20px;
}

.discount-small{
  width: 20px;
  height: 20px;
}

.card-body{
  padding-left: 5px!important;
  padding-right: 5px!important;
}
.footer-card{
  background-color: #f4f3f2;
  padding-left: 8px;
  padding-right: 8px;
}

.frouts{
  padding-top: 30px;
  padding-bottom: 30px;
}

.bottom-slider{
  padding-top: 30px;
  padding-bottom: 30px;
}

footer{
  padding-top: 30px;
  padding-bottom: 30px;
 background-color: #d6d6d6;
}

footer h6{
  text-align: left;
  padding-bottom: 12px;
  color: #6cd138;;
}

.p-30{
  padding: 30px 20px!important;
}


.bottom-footer{
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #b3b3b3;
  text-align: center;
}

.bottom-footer p{
  margin-bottom: 0px;
}

.p-tb-15{
  padding-top: 15px;
  padding-bottom: 15px;
}

.p-t-15{
  padding-top: 15px;
}

.div-text-h .text-small{

  font-size: 14px;
  font-family: 'Roboto', ;
  text-align: center;
}

.pt-8{
  padding-top: 8px;
}

.div-text-h{
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
  margin-bottom: 20px;
  margin-top: 15px;
  padding: 0px 15px;

}

.div-text-h .bl{
 border-left: 1px solid #000;
}

.image-div{
  padding-top: 20px;
  padding-bottom: 40px;
}

.middle-img{
  width: 100%;
  height: 300px;
}

.btn-small{
  padding: 0.5px 5px!important;
  margin-bottom: 8px;
}

.shop{
  width: 90px;
  height: 90px;
  color: #000;
}

/**********************    Grocery List   *************************/

.gorcery-list{
  padding-top: 50px;
  padding-bottom: 40px;
  background-color: #f4f4f4;
}

.gorcery-list .right-card{
  padding: 30px 15px;
}

.gorcery-list  .heading{
  font-size: 2.5rem;
  padding-top: 20px;
  padding-bottom: 25px;
}
